@import "./scss/imports";

body,
html {
  height: 100%;
  margin: 0;
}

.highlight {
  background-color: theme-color-level("danger", -11);
}
.normal-font-weight {
  font-weight: 400;
}

.toast {
  &-top-right {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 2rem;
    margin-right: 2rem;
    z-index: 999;
  }
  &-success,
  &-success > &-header {
    background-color: theme-color-level("success", -11);
  }

  &-danger,
  &-danger > &-header {
    background-color: theme-color-level("danger", -11);
  }

  &-warning,
  &-warning > &-header {
    background-color: theme-color-level("warning", -11);
  }
}
