@import "./imports";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@include media-breakpoint-down(lg) {
  #root {
    .card {
      flex: 1 1 100%;
      margin-top: 1rem;
    }
    .navbar {
      @include background-gradient;
    }
  }
}

@include media-breakpoint-up(lg) {
  #root {
    aside {
      width: 200px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 900;
      height: 100%;
      @include background-gradient;
      color: theme-color("light");

      .navbar {
        background: transparent;
      }
    }

    main {
      margin-left: 200px;
      padding: 2rem;
    }

    .container {
      max-width: 1600px;
    }

    .card-body {
      padding: 2rem;
    }
  }
}

.card .card-body {
  .card-title {
    color: theme-color("primary");
  }
  .card-subtitle {
    color: theme-color-level("primary", -5);
  }
}
